{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <h3>{{ profile.name }}</h3>
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    {% if helper.session().get("errors") %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">

                                {{ helper.session().get("errors")|json_encode(constant('JSON_PRETTY_PRINT')) }}

                            </div>
                        </div>
                    {% endif %}
                    <form class="" {% if id is defined %} action="{{ helper.url('create-database-item/'~id) }}" {% else %} action="{{ helper.url('create-database-item/') }}" {% endif %}
                          method="POST">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name">
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" class="form-control" name="email" id="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Phone</label>
                                    <input type="text" class="form-control" name="phone" id="phone">
                                </div>
                            </div>
                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}