{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body table-responsive ">

                        <table class="table w-100 table-striped ">
                            <thead>
                            <tr>
                                <th> id</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Role</th>
                                <th> Api_key</th>
                                <th> Users Count</th>
                                <th> Browse</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="py-1">
                                        {{ user.id }}
                                    </td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>{{ user.api_key }}</td>
                                    <td>{{ user.database|length }}</td>
                                    <td>
                                        <a style="cursor: pointer" href="{{ helper.url("/database/"~user.id)}}"><i class="fa fa-user"></i></a>

                                    </td>
                                </tr>
                                <!-- Button trigger modal -->


                                <!-- Modal -->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}