{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    {% if helper.session().get("errors") %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">

                                {{ helper.session().get("errors")|json_encode(constant('JSON_PRETTY_PRINT')) }}

                            </div>
                        </div>
                    {% endif %}
                    <form class="" action="{{ helper.url('create-gateway/') }}" method="POST">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name">
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">
                                    <label for="type">Type</label>

                                    <select name="type" id="type" class="form-control">
                                        {% for type in types %}
                                            <option value="{{ type }}">
                                                {{ type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="api_name">API name</label>
                                    <select name="api_name" id="api_name" class="form-control">
                                        {% for api_name in api_names %}
                                            <option value="{{ api_name }}">
                                                {{ api_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="auth">AUTH (JSON OBJECT)</label>
                                    <textarea class="form-control" id="auth" name="auth"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <pre>
                                     for   intel_tele
                                    {
                                            "username",
                                            "api_key"
                                    }
                                      for   send_grid
                                    {
                                            "api_key"
                                    }
                                      for   smtp
                                    {
                                            "user",
                                            "pass",
                                            "host",
                                    }
                                                                        </pre>


                            </div>
                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}