{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body table-responsive ">
                        <div class="row d-flex">
                            <h4  class="card-title">Users</h4>
                            <a class="ml-auto" href="{{ helper.url('create-gateway/') }}"><button class="btn btn-primary"><i class="fa fa-plus"></i></button></a>
                        </div>
                        <table class="table w-100 table-striped ">
                            <thead>
                            <tr>
                                <th> id</th>
                                <th> Name</th>
                                <th> Type</th>
                                <th> Api_name</th>
                                <th> Created At</th>
                                <th> Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gateway in gateways %}
                                <tr>
                                    <td class="py-1">
                                        {{ gateway.id }}
                                    </td>
                                    <td>{{ gateway.name }}</td>
                                    <td>{{ gateway.type }}</td>
                                    <td>{{ gateway.api_name }}</td>
                                    <td>{{ gateway.createdAt }}</td>

                                    <td>

                                        <a href="{{ helper.url('gateway/'~ gateway.id) }}"><i class="fa fa-edit"></i></a>
                                        <a style="cursor: pointer" data-toggle="modal"
                                           data-target="#modal-{{ gateway.id }}"><i class="fa fa-trash"></i></a>

                                    </td>
                                </tr>
                                <!-- Button trigger modal -->


                                <!-- Modal -->
                                <div class="modal fade" id="modal-{{ gateway.id }}" tabindex="-{{ gateway.id }}" role="dialog"
                                     aria-labelledby="modal-{{ gateway.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Delete {{ gateway.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete {{ gateway.name }} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="{{ helper.url('gateway/delete/'~ gateway.id) }}">
                                                    <button type="button" class="btn btn-danger">Yes</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}