<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body table-responsive ">
                    <div class="row d-flex">
                        <h4 class="card-title">Statuses</h4>
                    </div>
                    {% if emails|length > 0 %}
                        <table class="table w-100 table-striped ">
                            <thead>
                            <tr>
                                <th> id</th>
                                <th> EmailFrom</th>
                                <th> Delivered</th>
                                <th> Percent</th>
                                <th> Status</th>
                                <th> Must Be sent at</th>
                                <th> Created at</th>
                                <th> Updated at</th>
                                <th> Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,email in emails %}
                                <tr>
                                    <td class="py-1">
                                        {{ key+1 }}
                                    </td>
                                    <td>{{ email.emailFrom }}</td>


                                    <td>
                                        {% if email.count %}
                                            {{ email.delivered }}/{{ email.count }}
                                        {% else %}
                                            undefined
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if email.count %}
                                            {{ (email.delivered/email.count)*100 }}%
                                        {% else %}
                                            undefined
                                        {% endif %}
                                    </td>
                                    <td>{{ email.status }}</td>
                                    <td>
                                        {% if email.sendAt %}
                                        {{ email.sendAt|date('Y-m-d H:i:s') }}
                                        {% endif %}
                                    </td>


                                    <td>{{ email.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ email.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    {#                                    <td>#}
                                    {#                                        <a style="cursor: pointer" href="{{ helper.url("/database/"~user.id) }}"><i#}
                                    {#                                                    class="fa fa-user"></i></a>#}

                                    {#                                    </td>#}
                                </tr>
                                <!-- Button trigger modal -->


                                <!-- Modal -->
                                <div class="modal fade" id="modal-{{ user.id }}" tabindex="-{{ user.id }}" role="dialog"
                                     aria-labelledby="modal-{{ user.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Delete {{ user.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete {{ user.name }} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="{{ helper.url('account/delete/'~ user.id) }}">
                                                    <button type="button" class="btn btn-danger">Yes</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h2>No data here</h2>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>

