{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container-fluid">
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#sms" role="tab"
                       aria-controls="pills-home" aria-selected="true">SMS</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#viber" role="tab"
                       aria-controls="pills-profile" aria-selected="false">Viber</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#emails" role="tab"
                       aria-controls="pills-contact" aria-selected="false">Emails</a>
                </li>
            </ul>
        </div>
        <div class="tab-content container-fluid" id="messages">
            <div class="tab-pane fade show active" id="sms" role="tabpanel" aria-labelledby="pills-home-tab">
                {% include "pages/statuses/sms.twig" %}
            </div>
            <div class="tab-pane fade" id="viber" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include "pages/statuses/viber.twig" %}
            </div>
            <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include "pages/statuses/emails.twig" %}
            </div>
        </div>
    </div>
{% endblock %}