<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body table-responsive ">
                    <div class="row d-flex">
                        <h4 class="card-title">Statuses</h4>
                    </div>
                    {% if viber|length > 0 %}
                        <table class="table w-100 table-striped ">
                            <thead>
                            <tr>
                                <th> id</th>
                                <th> Delivered</th>
                                <th> Percent</th>
                                <th> Status</th>
                                <th> Must Be sent at</th>
                                <th> Cost</th>
                                <th> Created at</th>
                                <th> Updated at</th>
                                <th> Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,s in viber %}
                                <tr>
                                    <td class="py-1">
                                        {{ key+1 }}
                                    </td>
                                    <td>
                                        {% if s.count %}
                                            {{ s.delivrd }}/{{ s.count }}
                                        {% else %}
                                            undefined
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if s.count %}
                                            {{ (s.delivrd/s.count)*100 }}%
                                        {% else %}
                                            undefined
                                        {% endif %}
                                    </td>
                                    <td>{{ s.status }}</td>
                                    <td>
                                        {% if s.sendAt %}
                                            {{ s.sendAt|date('Y-m-d H:i:s') }}
                                        {% endif %}
                                    </td>
                                    <td>{{ s.cost }}</td>

                                    <td>{{ s.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ s.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    {#                                    <td>#}
                                    {#                                        <a style="cursor: pointer" href="{{ helper.url("/database/"~user.id) }}"><i#}
                                    {#                                                    class="fa fa-user"></i></a>#}

                                    {#                                    </td>#}
                                </tr>
                                <!-- Button trigger modal -->

                                <!-- Modal -->
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h2>No data here</h2>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>

