{#{% block header %}#}
{#    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#        <div class="container">#}
{#            <a class="navbar-brand" href="{{ helper.url("/") }}">Ci4 Login</a>#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                {% if  (helper.session.get('isLoggedIn')) %}#}
{#                    <ul class="navbar-nav mr-auto">#}
{#                        <li class="nav-item {{ (helper.uri.getSegment(1) == 'dashboard' ? 'active' : null) }}">#}
{#                            <a class="nav-link" href="{{ helper.url("/dashboard") }}">Dashboard</a>#}
{#                        </li>#}
{#                        <li class="nav-item {{ (helper.uri.getSegment(1) == 'profile' ? 'active' : null) }}">#}
{#                            <a class="nav-link" href="{{ helper.url("/profile") }}">Profile</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <ul class="navbar-nav my-2 my-lg-0">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ helper.url("/logout") }}">Logout</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                {% else %}#}
{#                    <ul class="navbar-nav mr-auto">#}
{#                        <li class="nav-item {{ (helper.uri.getSegment(1) == '' ? 'active' : null) }}">#}
{#                            <a class="nav-link" href="{{ helper.url("/") }}">Login</a>#}
{#                        </li>#}
{#                        #}{#                        <li class="nav-item {{ (helper.uri.getSegment(1) == 'register' ? 'active' : null) }}">#}
{#                        #}{#                            <a class="nav-link" href="{{ helper.url("/register") }}">Register</a>#}
{#                        #}{#                        </li>#}
{#                    </ul>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#{% endblock %}#}
{% block header %}
    <nav class="navbar default-layout col-lg-12 col-12 p-0  d-flex flex-row">

        <div class="navbar-menu-wrapper d-flex align-items-center">
            <a class="navbar-brand brand-logo" href="index.html">
                <img src="assets/images/logo.svg" alt="logo"/> </a>
            <a class="navbar-brand brand-logo-mini" href="index.html">
                <img src="assets/images/logo-mini.svg" alt="logo"/> </a>

            <ul class="navbar-nav ml-auto">
                <a href="{{ helper.url("logout") }}">Logout</a>
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        <i class="mdi mdi-bell-outline"></i>#}
{#                        <span class="count">7</span>#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"#}
{#                         aria-labelledby="messageDropdown">#}
{#                        <a class="dropdown-item py-3">#}
{#                            <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>#}
{#                            <span class="badge badge-pill badge-primary float-right">View all</span>#}
{#                        </a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item preview-item">#}
{#                            <div class="preview-thumbnail">#}
{#                                <img src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">#}
{#                            </div>#}
{#                            <div class="preview-item-content flex-grow py-2">#}
{#                                <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>#}
{#                                <p class="font-weight-light small-text"> The meeting is cancelled </p>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item preview-item">#}
{#                            <div class="preview-thumbnail">#}
{#                                <img src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic">#}
{#                            </div>#}
{#                            <div class="preview-item-content flex-grow py-2">#}
{#                                <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>#}
{#                                <p class="font-weight-light small-text"> The meeting is cancelled </p>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item preview-item">#}
{#                            <div class="preview-thumbnail">#}
{#                                <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">#}
{#                            </div>#}
{#                            <div class="preview-item-content flex-grow py-2">#}
{#                                <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>#}
{#                                <p class="font-weight-light small-text"> The meeting is cancelled </p>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">#}
{#                        <i class="mdi mdi-email-outline"></i>#}
{#                        <span class="count bg-success">3</span>#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"#}
{#                         aria-labelledby="notificationDropdown">#}
{#                        <a class="dropdown-item py-3 border-bottom">#}
{#                            <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>#}
{#                            <span class="badge badge-pill badge-primary float-right">View all</span>#}
{#                        </a>#}
{#                        <a class="dropdown-item preview-item py-3">#}
{#                            <div class="preview-thumbnail">#}
{#                                <i class="mdi mdi-alert m-auto text-primary"></i>#}
{#                            </div>#}
{#                            <div class="preview-item-content">#}
{#                                <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>#}
{#                                <p class="font-weight-light small-text mb-0"> Just now </p>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item preview-item py-3">#}
{#                            <div class="preview-thumbnail">#}
{#                                <i class="mdi mdi-settings m-auto text-primary"></i>#}
{#                            </div>#}
{#                            <div class="preview-item-content">#}
{#                                <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>#}
{#                                <p class="font-weight-light small-text mb-0"> Private message </p>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item preview-item py-3">#}
{#                            <div class="preview-thumbnail">#}
{#                                <i class="mdi mdi-airballoon m-auto text-primary"></i>#}
{#                            </div>#}
{#                            <div class="preview-item-content">#}
{#                                <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>#}
{#                                <p class="font-weight-light small-text mb-0"> 2 days ago </p>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">#}
{#                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image"> </a>#}
{#                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">#}
{#                        <div class="dropdown-header text-center">#}
{#                            <img class="img-md rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">#}
{#                            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>#}
{#                            <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>#}
{#                        </div>#}
{#                        <a href="{{ helper.url('/profile') }}" class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i#}
{#                                    class="dropdown-item-icon ti-dashboard"></i></a>#}
{#                        <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>#}
{#                        <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>#}
{#                        <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>#}
{#                        <a href="{{ helper.url('/logout') }}" class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>#}
{#                    </div>#}
{#                </li>#}
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
{% endblock %}