<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
        {#              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"#}
        {#              crossorigin="anonymous">#}
        <link rel="stylesheet" href="{{ helper.url("/assets/css/style.css") }}">
        <link rel="stylesheet"
              href="{{ helper.url("assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/iconfonts/ionicons/dist/css/ionicons.css") }}">
        <link rel="stylesheet"
              href="{{ helper.url("assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/css/vendor.bundle.base.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/css/vendor.bundle.addons.css") }}">
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <link rel="stylesheet"
              href="{{ helper.url("assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css") }}"/>

        <link rel="stylesheet" href="{{ helper.url("assets/css/shared/style.css") }}">
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{ helper.url("assets/css/demo_1/style.css") }}">
        <!-- End Layout styles -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="shortcut icon" href="{{ helper.url("assets/images/favicon.ico") }}"/>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    {% endblock %}
</head>
<body>


<div class="container-scroller">
    {% include "templates/header.twig" %}

    <div class="container-fluid page-body-wrapper">

        {% include "templates/sidebar.twig" %}
        {% block content %}{% endblock %}

        <!-- main-panel ends -->
    </div>

    <div id="footer">
        {% block footer %}
            &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</div>



<script src="{{ helper.url("assets/vendors/js/vendor.bundle.base.js") }}"></script>
<script src="{{ helper.url("assets/vendors/js/vendor.bundle.addons.js") }}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{{ helper.url("assets/js/shared/off-canvas.js") }}"></script>
<script src="{{ helper.url("assets/js/shared/misc.js") }}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ helper.url("assets/js/demo_1/dashboard.js") }}"></script>
<!-- End custom js for this page-->
<script src="{{ helper.url("assets/js/shared/hoverable-collapse.js") }}" type="text/javascript"></script>
<script>

    $(document).ready(function () {


        {#$("#{{ template }}").css("display", "block")#}
        $("#templates").change(function () {
            $("#preview").children('div').each(function () {
                $(this).css("display", "none")
            });
            $("#" + this.value).css("display", "block")
        });

    })
</script>
</body>
</html>