<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="{{ helper.url("profile") }}" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">{{ helper.session().get("user").name }}</p>
                    <p class="designation">{{ helper.session().get("user").email }}</p>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">Main Menu</li>
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("dashboard") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        {% if  helper.session().get("user").role=="admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{{ helper.url("accounts") }}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Accounts</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("create-email") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Send Email</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("create-sms") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Send SMS</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("create-viber") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Send Viber</span>
            </a>
        </li>
        {% if  helper.session().get("user").role=="admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{{ helper.url("databases") }}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Database</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ helper.url("database") }}">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Database</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("statuses") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Statuses</span>
            </a>
        </li>
        {% if  helper.session().get("user").role=="admin" %}
        <li class="nav-item">
            <a class="nav-link" href="{{ helper.url("gateways") }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Gateways</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
               aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Basic UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Form elements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Tables</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
                <i class="menu-icon typcn typcn-user-outline"></i>
                <span class="menu-title">Icons</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon typcn typcn-document-add"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/login.html"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/register.html"> Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
<!-- partial -->
