{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <h3>Send Email</h3>
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    {% if helper.session().get("errors") %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                {{ helper.session().get("errors")|json_encode(constant('JSON_PRETTY_PRINT')) }}
                            </div>
                        </div>
                    {% endif %}

                    <form class="" action="{{ helper.url('create-email/') }}" method="POST">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input required type="text" class="form-control" name="title" id="title">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="text">Text <p class="text-small">(if html template not set)</p></label>
                                    <input type="text" class="form-control" name="text" id="text">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <h4>Emails</h4>
                                <div class="form-group"
                                     style="height: 200px;overflow-y: scroll; background-color: whitesmoke">
                                    {% for key,user in users %}
                                        {% if(user.email) %}
                                        <div class="form-check ">
                                            <label class="form-check-label">
                                                <input id="user{{ user.id }}" name="user{{ user.id }}"
                                                                   type="checkbox" checked
                                                                   class="form-check-input"> {{ user.email }} {{ user.name }}
                                            </label>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12 ">

                                <h4>Gateways</h4>
                                <div class="form-group">
                                    <select name="gateway" id="gateway" class="form-control">


                                        {% for key,gateway in profile.gtws %}
                                            {% if(gateway.type=="email") %}
                                                <option value="{{ gateway.name }}">
                                                    {{ gateway.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="templates">templates</label>
                                    <select name="template" id="templates" class="form-control">
                                        <option value=''>None</option>
                                        {% for name,template in templates %}
                                            <option value='{{ name }}'>{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-check ">
                                    <label class="control-label form-check-input" for="scheduled">
                                    <input class="form-group" id="scheduled" type="checkbox" name="scheduled" />
                                        Scheduled
                                    </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label" for="datetimepicker-default">Select Date and
                                        Time</label>
                                    <input id="input" name="sendAt" width="234"/></div>
                            </div>

                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% set template = templates|keys|first %}
                        <div class="preview">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="preview-tab" data-toggle="tab" href="#preview"
                                       role="tab" aria-controls="preview" aria-selected="true">Preview</a>
                                    {#                                    <a class="nav-link" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="nav-profile" aria-selected="false">Code</a>#}
                                </div>
                            </nav>
                            <div class="tab-content" id="content">
                                <div class="tab-pane fade show active" id="preview" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    {#                                    {{ template|raw }}#}
                                    {% for name,temp in templates %}
                                        <div id="{{ name }}" style="display: none">
                                            {{ temp|raw }}
                                        </div>
                                    {% endfor %}

                                </div>
                                {#                                <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="nav-profile-tab">#}
                                {#                                    <textarea  type="text" id="editor" class="form-control" style="height: 300px">{{ template }}</textarea>#}
                                {#                                </div>#}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#input').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
    </script>
{% endblock %}