{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <h3>Send Viber</h3>
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    {% if helper.session().get("errors") %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                {{ helper.session().get("errors")|json_encode(constant('JSON_PRETTY_PRINT')) }}
                            </div>
                        </div>
                    {% endif %}

                    <form class="" action="{{ helper.url('create-viber/') }}" method="POST">
                        <div class="row">
{#                            <div class="col-12 ">#}
{#                                <div class="form-group">#}
{#                                    <label for="title">Title</label>#}
{#                                    <input required type="text" class="form-control" name="title" id="title">#}
{#                                </div>#}
{#                            </div>#}
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="text">Text </label>
                                    <input type="text" class="form-control" name="text" id="text">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="button_text">Button Text </label>
                                    <input type="text" class="form-control" name="button_text" id="button_text">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="button_link">Button URL </label>
                                    <input type="text" class="form-control" name="button_url" id="button_link">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="image">Image Url</label>
                                    <input type="text" class="form-control" name="image" id="image">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <h4>Clients</h4>
                                <div class="form-group"
                                     style="height: 200px;overflow-y: scroll; background-color: whitesmoke">
                                    {% for key,user in users %}
                                        {% if(user.phone) %}
                                            <div class="form-check ">
                                                <label class="form-check-label">
                                                    <input id="user{{ user.id }}" name="user{{ user.id }}"
                                                           type="checkbox" checked
                                                           class="form-check-input"> {{ user.phone }} {{ user.name }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12 ">

                                <h4>Gateways</h4>
                                <div class="form-group">
                                    <select name="gateway" id="gateway" class="form-control">


                                        {% for key,gateway in profile.gtws %}
                                            {% if(gateway.type=="viber") %}

                                                <option value="{{ gateway.name }}">
                                                    {{ gateway.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-check ">
                                        <label class="control-label form-check-input" for="scheduled">
                                            <input class="form-group" id="scheduled" type="checkbox" name="scheduled"/>
                                            Scheduled
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label" for="datetimepicker-default">Select Date and
                                        Time</label>
                                    <input id="input" name="sendAt" width="234"/></div>
                            </div>

                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% set template = templates|keys|first %}
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#input').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
    </script>
{% endblock %}