{% extends "templates/layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Hello, {{ helper.session().get("user").name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}