<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ helper.url("/assets/css/style.css") }}">
        <link rel="stylesheet"
              href="{{ helper.url("assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/iconfonts/ionicons/dist/css/ionicons.css") }}">
        <link rel="stylesheet"
              href="{{ helper.url("assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/css/vendor.bundle.base.css") }}">
        <link rel="stylesheet" href="{{ helper.url("assets/vendors/css/vendor.bundle.addons.css") }}">
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <link rel="stylesheet" href="{{ helper.url("assets/css/shared/style.css") }}">
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{ helper.url("assets/css/demo_1/style.css") }}">
        <!-- End Layout styles -->
        <link rel="shortcut icon" href="{{ helper.url("assets/images/favicon.ico") }}"/>
    {% endblock %}
</head>
<body>

{% block content %}
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ helper.url("/") }}">Ci4 Login</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if  (helper.session.get('isLoggedIn')) %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {{ (helper.uri.getSegment(1) == 'dashboard' ? 'active' : null) }}">
                                <a class="nav-link" href="{{ helper.url("/dashboard") }}">Dashboard</a>
                            </li>
                            <li class="nav-item {{ (helper.uri.getSegment(1) == 'profile' ? 'active' : null) }}">
                                <a class="nav-link" href="{{ helper.url("/profile") }}">Profile</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ helper.url("/logout") }}">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {{ (helper.uri.getSegment(1) == '' ? 'active' : null) }}">
                                <a class="nav-link" href="{{ helper.url("/") }}">Login</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
            <div class="container">
                <h3>Login</h3>
                <hr>
                {% if helper.session().get("success") %}
                    <div class="alert alert-success" role="alert">
                        {{ (helper.session().get("success")) }}
                    </div>
                {% endif %}
                {% if helper.session().get("errors") %}
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{ helper.session().get("errors") }}
                        </div>
                    </div>
                {% endif %}
                <form class="" action="{{ helper.url('/') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" name="email" id="email"
                               value="{{ helper.set_value('email') }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" value="">
                    </div>

                    {% if validation is defined %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                {{ validation.listErrors|raw }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
{#                        <div class="col-12 col-sm-8 text-right">#}
{#                            <a href="{{ helper.url('/register') }}">Don't have an account yet?</a>#}
{#                        </div>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>