{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <h3>{{ profile.name }}</h3>
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    {% if helper.session().get("errors") %}
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">

                                {{ helper.session().get("errors")|json_encode(constant('JSON_PRETTY_PRINT')) }}

                            </div>
                        </div>
                    {% endif %}
                    <form class="" action="{{ helper.url('create-account/') }}" method="POST">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" name="name" id="name">
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" class="form-control" name="email" id="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="role">Role</label>
                                    <select name="role" id="role" class="form-control">
                                        <option selected value="user">user
                                        </option>
                                        <option value="admin">
                                            admin
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="webhook_url">WebHook URL</label>
                                    <input type="text" class="form-control" name="webhook_url" id="webhook_url"
                                           value="{{ profile.webhook_url }}">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" value="">
                                </div>
                            </div>
                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}