{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body table-responsive ">
                        <div class="row d-flex">
                        <h4  class="card-title">Users</h4>
                        <a class="ml-auto" href="{{ helper.url('create-account/') }}"><button class="btn btn-primary"><i class="fa fa-plus"></i></button></a>
                        </div>
                        <table class="table w-100 table-striped ">
                            <thead>
                            <tr>
                                <th> id</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Role</th>
                                <th> Api_key</th>
                                <th> Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="py-1">
                                        {{ user.id }}
                                    </td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>{{ user.api_key }}</td>

                                    <td>
                                        <a style="cursor: pointer" href="{{ helper.url("/database/"~user.id) }}"><i class="fa fa-user"></i></a>

                                        <a href="{{ helper.url('account/'~ user.id) }}"><i class="fa fa-edit"></i></a>
                                        <a style="cursor: pointer" data-toggle="modal"
                                           data-target="#modal-{{ user.id }}"><i class="fa fa-trash"></i></a>

                                    </td>
                                </tr>
                                <!-- Button trigger modal -->


                                <!-- Modal -->
                                <div class="modal fade" id="modal-{{ user.id }}" tabindex="-{{ user.id }}" role="dialog"
                                     aria-labelledby="modal-{{ user.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Delete {{ user.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete {{ user.name }} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="{{ helper.url('account/delete/'~ user.id) }}">
                                                    <button type="button" class="btn btn-danger">Yes</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}