{% extends "/templates/layout.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm8- offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
                <div class="container">
                    <h3>{{ profile.name }}</h3>
                    <hr>
                    {% if (helper.session().get("success")) %}
                        <div class="alert alert-success" role="alert">
                            {{ helper.session().get("success") }}
                        </div>
                    {% endif %}
                    <form class="" action="{{ helper.url('account/'~ profile.id) }}" method="POST">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           value="{{ profile.name }}">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label for="api_key">Api Key</label>
                                    <div class="input-group mb-3">
                                        <input class="btn btn-outline-secondary" type="submit" name="refresh"
                                               value="refresh"/>

                                        <input type="text" class="form-control" readonly name="api_key" id="api_key"
                                               value="{{ profile.api_key }}">

                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" class="form-control" name="email" id="email"
                                           value="{{ profile.email }}">
                                </div>
                            </div>
                            {% if helper.session().get("user").role=="admin" %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <select name="role" id="role" class="form-control">
                                            <option {% if profile.role=="user" %} selected {% endif %}value="user">user
                                            </option>
                                            <option {% if profile.role=="admin" %} selected {% endif %} value="admin">
                                                admin
                                            </option>

                                        </select>
                                        {#                                    <input type="text" class="form-control" name="email" id="role"#}
                                        {#                                           value="{{ profile.role }}">#}
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <h4>Gateways</h4>
                                    <div class="form-group"
                                         style="height: 200px;overflow-y: scroll; background-color: whitesmoke">
                                        {% for key,gateway in gateways %}

                                            <div class="form-check ">
                                                <label class="form-check-label">
                                                    {{ key+1 }}.<input id="gateway{{ gateway.id }}" name="gateway{{ gateway.id }}"
                                                                       type="checkbox" {% if gateway.active  %}checked{% endif %}
                                                                       class="form-check-input"> {{ gateway.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="webhook_url">WebHook URL</label>
                                    <input type="text" class="form-control" name="webhook_url" id="webhook_url"
                                           value="{{ profile.webhook_url }}">
                                </div>
                            </div>
                            {#                        <div class="col-12 col-sm-6">#}
                            {#                            <div class="form-group">#}
                            {#                                <label for="password">Password</label>#}
                            {#                                <input type="password" class="form-control" name="password" id="password" value="">#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                        <div class="col-12 col-sm-6">#}
                            {#                            <div class="form-group">#}
                            {#                                <label for="password_confirm">Confirm Password</label>#}
                            {#                                <input type="password" class="form-control" name="password_confirm"#}
                            {#                                       id="password_confirm" value="">#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {% if validation is defined %}
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ validation.listErrors()|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}